/* ---------------Box Sizing----------------- */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    line-height: 1.6;
    background-color: #ffffff;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    background-color: #122f2d;
background-image: url("data:image/svg+xml,%3Csvg width='32' height='64' viewBox='0 0 32 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 28h20V16h-4v8H4V4h28v28h-4V8H8v12h4v-8h12v20H0v-4zm12 8h20v4H16v24H0v-4h12V36zm16 12h-4v12h8v4H20V44h12v12h-4v-8zM0 36h8v20H0v-4h4V40H0v-4z' fill='%233ca397' fill-opacity='0.36' fill-rule='evenodd'/%3E%3C/svg%3E");
}

#wrap {
    width: 70vw;
    max-width: 900px;
    margin: 40px auto;
    background: rgba(0,0,0,.7);
    border: dashed 3px #00fffb;
    padding: 40px;
}

h1 {
    font-size: 2.2rem;
    text-align: center;
}

h2 {
    border-bottom: 1px solid #c0c0c0;
}

a {
    color: #ffffff;
}
