/* ------ Style for css-demo ------ */

/* ------ Box Sizing ------ */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*------ Responsive Images ------ */

img{
  max-width:100%;
  height:auto;
}

/*------ Utility Classes ------ */

.container{
  max-width:85vw;
  margin:30px auto;
}
.img-right{
  float: right;
  margin: 10px 0 10px 20px;
  border: 5px solid #52F2E2;
  padding: 5px;
  background-color: #BDD4F2;
  box-shadow: 4px 4px 1px rgba(0,0,0,.3);
}
.img-left{
  float: left;
  margin: 10px 20px 10px 0;
  border: 5px solid #52F2E2;
  padding: 5px;
  background-color: #BDD4F2;
  box-shadow: 4px 4px 1px rgba(0,0,0,.3);
}
.img-center{
  display: block;
  margin: 20px auto;
  border: 5px solid #52F2E2;
  padding: 5px;
  background-color: #BDD4F2;
  box-shadow: 4px 4px 1px rgba(0,0,0,.3);
}

/*------ Global Styling ------ */

body {
  font-family: "Martian Mono", monospace;
  margin: 0;
  background-image: url("../img/screenshot1.png");
  /*-- ".." goes up a level in file pathing --*/
  background-repeat: no-repeat;
  background-size: contain;
}

header.primary {
  background-color: #9305F2;
  color: #ffffff;
  text-shadow: 1px 1px#000000;
  text-align: center;
  padding: 40px;
  /*long form*/
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  /* T,R,B,L */
  padding: 20px 40px 20px 40px;
  /* Two Value Top/Bottom / L/R */
  padding: 20px 40px;
}
header.primary h1{
  font-size: 2.4rem;
  margin: 20px 0 10px;
}
header.primary h1 a{
  color: #ffffff;
  text-decoration: none;
}
header.primary h2{
  font-size: 1.4rem;
}
header.primary nav{
  max-width: 900px;
  /* Centering block level elements, use "auto" */
  margin: 20px auto;
}

header.primary nav ul{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
}
header.primary nav ul li{
  list-style-type: none;
}
header.primary nav ul li a{
  color: #D989AE;
  text-decoration: none;
  background-color: #000000;
  background-color: rgba(0,0,0,.4);
  padding:5px 10px;
  border:3px double #F26BAA;
  border-radius:20px;
  transition: .4s;
}
header.primary nav ul li a:hover{
  background-color: rgba(0,0,0,.8);
}
#intro{
  border-bottom:2px dotted #BDD4F2;
  padding-bottom: 15px;
}
#intro h2{
  color: #9305F2;
  border-bottom:2px dotted #BDD4F2;
  padding-bottom:10px;
}
#content{
  display:flex;
  flex-direction:row;
  gap:10%;
}
#content .post{
  box-shadow:0 4px 5px rgba(0,0,0,.3);
  padding:10px;
  border-radius:10px;
  font-size:.75rem;
  transition:.5s;
}
#content article.post:hover {
  box-shadow: 0 8px 16px rgba(82, 242, 226, .6);
}

article.post figure{
  margin:0;
}
time.post-date{
  text-transform: uppercase;
  color:#9305F2
}
article.post a{
  color:#BDD4F2
}
article.post a:hover{
  text-decoration:none;
}
article.post img{
  border:1px solid #52F2E2;
  padding:2px 2px 2px 2px;
  margin:10px auto;
}

#practice h2{
  color: #9305F2;
  border-bottom:2px solid #BDD4F2;
  padding-bottom:10px;
}

aside[role="complementary"]{
  background-color: #F26BAA;
  color: #ffffff;
  text-shadow: 1px 1px#000000;
  padding:1.9rem;
}
aside .container{
  display:flex;
  flex-direction:row;
  gap:40px;
}
aside .container a:last-of-type{
  color:#52F2E2;
  display:block;
  text-align:right;
  font-size:0.8rem;
  margin-top: 10px;
}
aside .container a:hover{
  text-decoration:none;
}
aside footer{
  display: none;
}

#colophon{
  background-color: #9305F2;
  color:#ffffff;
  padding:10px;
  text-align: center;
}







/*------ Media Query ------ */

@media screen and (max-width:700px){

  header.primary nav ul{
    flex-direction:column;
    max-width:250px;
    margin:auto;
    gap:10px;
  }
  header.primary nav ul a{
    display:block;
  }
#content{
  flex-direction: column;
  margin: auto;
  gap: 15px;
}
#content img{
  display: block;
  margin: auto;
}

} /*--Closing Screen Query--*/